.photo-grid {
    padding: 0;
    margin: 0 auto;
    line-height: 0;

    max-width: calc(100% - 48px - 48px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 14px;
    list-style: none;
}


@media screen and (max-width: 768px) {
    .photo-grid {

        max-width: calc(100% - 24px - 24px);
        gap: 16px;
    }
}

@media screen and (max-width: 750px) {
    .photo-grid {

        max-width: calc(100% - 16px - 16px);
        gap: 16px;
    }
}
