.lang-nav__item {
    display: inline;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-content1);
    margin-right: 18px;

}

.lang-nav__item:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 500px) {

    .lang-nav__item {
        font-size: 18px;
        line-height: 24px;

    }

}


.lang-nav__item {
}

.lang-nav__item :link {
    text-decoration: none;
    color: var(--color-content1);
}

.lang-nav__item :visited {
    color: var(--color-content1);
    text-decoration: none;
}

.lang-nav__item :hover {
    opacity: .8;
    transition: opacity .8s linear;
}

