.places__title {
    margin: 0 0 48px 0;
    padding: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

    color: var(--color-content1);

}

@media screen and (max-width: 825px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}


@media screen and (max-width: 750px) {

    .places__title {
        margin: 0 16px 32px 16px;

    }
}


@media screen and (max-width: 500px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
    }
}
