.places__link {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
}

.places__link :link {
    color: var(--color-content1);
}

.places__link :visited {
    color: var(--color-content1);
}

.places__link :hover {
    opacity: .8;
    transition: opacity .8s linear;
}
