.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0;

    max-width: calc(100% - 48px - 48px);
}


@media screen and (max-width: 768px) {
    .header {

        max-width: calc(100% - 24px - 24px);

    }
}

@media screen and (max-width: 500px) {
    .header {

        max-width: calc(100% - 16px - 16px);

    }
}

