.cover {
    margin: auto auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: calc(100% - 48px - 48px);
    /*padding-top: calc((62.5% - 156px) / 2);*/
    /*padding-bottom: calc((62.5% - 156px) / 2);*/

    padding-top: calc((62.5% - 310px) / 2);
    padding-bottom: calc((62.5% - 310px) / 2);

    z-index: 10;
    background-image: url("../../images/cover-trains-true.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: rgba(42, 44, 47, 0.3);

}


.cover:hover::before {
    transition: background-color .22s linear;
    background-color: rgba(42, 44, 47, 0.8);
}


.cover:link {

    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        padding-top: calc((62.5% - 250px) / 2);
        padding-bottom: calc((62.5% - 250px) / 2);
    }
}


@media screen and (max-width: 500px) {
    .cover {
        width: 100%;
        padding-top: calc((62.5% - 130px) / 2);
        padding-bottom: calc((62.5% - 130px) / 2);
    }
}

