.places__place {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    column-gap: 20px;
    margin: 80px 0;
}

.places__place:first-of-type {
    margin-top: 92px;
}

.places__place:last-of-type {
    margin-bottom: 92px;

}

@media screen and (max-width: 825px) {

    .places__place {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        margin: 72px 0;
        column-gap: 18px;
    }

    .places__place:first-of-type {
        margin-top: 88px;
    }

    .places__place:last-of-type {
        margin-bottom: 88px;

    }

}

@media screen and (max-width: 750px) {

    .places__place {
        grid-template-columns: repeat(1, minmax(300px, 1fr));

    }
}


@media screen and (max-width: 500px) {

    .places__place {
        margin: 48px 0;
    }

    .places__place:first-of-type {
        margin-top: 64px;
    }

    .places__place:last-of-type {
        margin-bottom: 64px;

    }

}
